DB_HOST=localhost
DB_PORT=3306
DB_NAME=adote_patas
DB_USER=root
DB_PASSWORD=

TINYMCE_API_KEY=

APP_URL=https://adotepatas.page.gd
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=ssl
SMTP_USER=
SMTP_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=Adote Patas - Suporte
